#boton{

	padding: 10px;

	background: orange;

	width: 95px;

	cursor: pointer;

	margin-top: 10px;

	margin-bottom: 10px;

	box-shadow: 0px 0px 1px #000;

	display: inline-block;

}



#boton:hover{

	opacity: .8;

}



#caja{

	width: 100%;

	margin: auto;

	height: 0px;

	background: white;

	box-shadow: 10px 10px 3px #D8D8D8;

	transition: height .4s;

}

#oculto{
	display: none;
}
